<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование данных</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<div th:switch="${headRows.size() != 5}">
    <form th:case="true"         <button>
            <h3>Редактировать данные</h3>
        </button>
    </form>
    <form th:case="false" th:action="@{/editing-report/}">
        <button>
            <h3>Редактировать данные</h3>
        </button>
    </form>
</div>-->
<form method="post"
      th:action="@{/editing-report/} + ${options.columns.timestampNeed}
      + '_' + ${options.columns.temperatureNeed}
      + '_' + ${options.columns.pressureNeed}
      + '_' + ${options.columns.windDirectionNeed}
      + '_' + ${options.columns.windSpeedNeed}"
      th:object="${options}">
    <p><input type="number" th:field="*{rowNumber}"/>Номер строки</p>
    <p><input type="number" th:field="*{columnNumber}"/>Номер колонки</p>
    <p><input type="text" th:field="*{replacingData}"/>Алтернативная запись</p>
    <!--<p><input type="checkbox" th:field="*{columns.timestampNeed}" />Время съема данных</p>
    <p><input type="checkbox" th:field="*{columns.temperatureNeed}" />Температура</p>
    <p><input type="checkbox" th:field="*{columns.pressureNeed}" />Атмосферное давление</p>
    <p><input type="checkbox" th:field="*{columns.windDirectionNeed}" />Направление ветра</p>
    <p><input type="checkbox" th:field="*{columns.windSpeedNeed}" />Скорость ветра</p>-->
    <p><input type="submit" value="Редактировать"/></p>
</form>
</body>
</html>