<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Editing report</title>
</head>
<body>
<form method="post" action="#" th:action="@{/show-editing-report}" th:object="${checkObject}">
    <p>Какие колонки в отчете вам нужны?</p>
    <p><input type="checkbox" th:field="*{timestampNeed}" />Время </p>
    <p><input type="checkbox" th:field="*{temperatureNeed}" />Температура</p>
    <p><input type="checkbox" th:field="*{pressureNeed}" />Атмосферное давление</p>
    <p><input type="checkbox" th:field="*{windDirectionNeed}" />Направление ветра</p>
    <p><input type="checkbox" th:field="*{windSpeedNeed}" />Скорость ветра</p>
    <p><input type="submit" value="Получить новый отчет"/></p>
</form>
</body>
</html>