<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отчет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1">
    <caption><h2>Отчет по погоде</h2></caption>
    <tr>
        <div th:each="row : ${headRows}">
            <th th:text="${row}"></th>
        </div>
    </tr>
    <div th:each="data : ${allData}">
        <tr>
            <div th:each="row : ${headRows}">
                <div th:switch="${row}">
                    <td th:case="'readTimestamp'" th:text="${data.readTimestamp}"></td>
                    <td th:case="'temperature'" th:text="${data.temperature}"></td>
                    <td th:case="'pressure'" th:text="${data.pressure}"></td>
                    <td th:case="'windDirection'" th:text="${data.windDirection}"></td>
                    <td th:case="'windSpeed'" th:text="${data.windSpeed}"></td>
                </div>
            </div>
        </tr>
    </div>
</table>
<form th:action="@{/download-editing-report/} + ${needfulColumns.timestampNeed} + '_' +
            ${needfulColumns.temperatureNeed} + '_' +
            ${needfulColumns.pressureNeed} + '_' +
            ${needfulColumns.windDirectionNeed} + '_' +
            ${needfulColumns.windSpeedNeed} + '/' +
            ${options.rowNumber} + '_' +
            ${options.columnNumber} + '_' +
            ${options.replacingData}">
    <p>В конце файла с отчетом будет написан его номер для поиска по сохраненным отчетам.</p>
    <p>При скачивании отчет автоматически сохраняется</p>
    <button>
        <h3>Скачать</h3>
    </button>
</form>
<form action="/choice-columns">
    <button>
        <h3>Выбрать колонки</h3>
    </button>
</form>
<form th:action="@{/editing-report/} + ${needfulColumns.timestampNeed} + '_' +
        ${needfulColumns.temperatureNeed}+ '_' +
        ${needfulColumns.pressureNeed}+ '_' +
        ${needfulColumns.windDirectionNeed}+ '_' +
        ${needfulColumns.windSpeedNeed}">
    <button>
        <h3>Редактировать данные</h3>
    </button>
</form>
<div th:if="${headRows.size() != 5}">
    <form action="/">
        <button>
            <h3>Полный отчет</h3>
        </button>
    </form>
    <form th:action="@{/save-partial-report/} + ${needfulColumns.timestampNeed} + '_' +
      ${needfulColumns.temperatureNeed}+ '_' +
      ${needfulColumns.pressureNeed}+ '_' +
      ${needfulColumns.windDirectionNeed}+ '_' +
      ${needfulColumns.windSpeedNeed}+ '/' +
      ${options.rowNumber} + '_' +
      ${options.columnNumber} + '_' +
      ${options.replacingData}">
        <button>
            <h3>Сохранить</h3>
        </button>
    </form>
</div>
<div th:if="${report} != null">
    <form method="post" th:action="@{/download-report-by-index}" th:object="${report}">
        <input th:field="*{reportId}" type="number"/>
        <input type="submit" value="Скачать отчет по номеру из сохраненных"/>
    </form>
</div>
</body>
</html>