<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отчет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1">
    <caption><h2>Отчет</h2></caption>
    <tr>
        <div th:each="row : ${headRows}">
            <th th:text="${row}"></th>
        </div>
    </tr>
    <div th:each="data : ${allData}">
        <tr>
            <div th:each="row : ${headRows}">
                <div th:switch="${row}">
                    <td th:case="'readTimestamp'" th:text="${data.readTimestamp}"></td>
                    <td th:case="'temperature'" th:text="${data.temperature}"></td>
                    <td th:case="'pressure'" th:text="${data.pressure}"></td>
                    <td th:case="'windDirection'" th:text="${data.windDirection}"></td>
                    <td th:case="'windSpeed'" th:text="${data.windSpeed}"></td>
                </div>
            </div>
        </tr>
    </div>
</table>
<form action="/download">
    <button>
        <h3>Скачать</h3>
    </button>
</form>
<form action="/get-json/all">
    <button>
        <h3>Получить в формате JSON все</h3>    <!--TODO: zatesti i ubrat-->
    </button>
</form>
<form action="/get-json/readTimestamp_temperature_windSpeed">
    <button>
        <h3>Получить в формате JSON не все</h3>    <!--TODO: zatesti i ubrat-->
    </button>
</form>
<form action="/editing">
    <button>
        <h3>Редактировать</h3>
    </button>
</form>
<div th:if="${headRows.size() != 5}">
    <form action="/">
        <button>
            <h3>Полный отчет</h3>
        </button>
    </form>
</div>
</body>
</html>