<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome!</title>
</head>
<body>
<a href="/download">download file</a><br/>
<table border="5">
    <caption>Таблица размеров обуви</caption>
    <tr>
        <th>Россия</th>
        <th>Великобритания</th>
        <th>Европа</th>
        <th>Длина ступни, см</th>
    </tr>
    <tr>
        <td>34,5</td>
        <td>3,5</td>
        <td>36</td>
        <td>23</td>
    </tr>
</table>
</body>
</html>
